# Syntax available at
# https://pip.pypa.io/en/stable/reference/requirements-file-format/
pycodestyle==2.8.0
autopep8==1.6.0
Flask==2.0.3
Flask-RESTful==0.3.9
Flask-HTTPAuth==4.5.0
peewee==3.14.10
kink==0.6.2
pylint==2.13.4
schema>=0.7.0
requests==2.27.1
configparser==5.2.0
apiflask==1.0.2